<ion-header>
    <ion-toolbar>
        <topo titulo="Equipamentos" icone="laptop"></topo>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <h2>Por favor, preencha os dados abaixo: </h2>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="equipamentoForm">
                <ion-label position="floating">Nome do Equipamento</ion-label><br />
                <ion-input formControlName="nomeEquipamento" type="text" value=""></ion-input>

                <ion-label position="floating">Marca do Equipamento</ion-label><br />
                <ion-input formControlName="marcaEquipamento" type="text" value=""></ion-input>

                <ion-label position="floating">Quantidade</ion-label><br />
                <ion-input formControlName="quantidadeEquipamento" type="number" min="1" max="99" value=""></ion-input>

                <ion-label position="floating">Categoria</ion-label>
                <ion-select formControlName="categoriaEquipamento" cancelText="Cancelar" okText="Selecionar" value="">
                    <ion-select-option value="Notebook">Notebook</ion-select-option>
                    <ion-select-option value="Projetor">Projetor</ion-select-option>
                    <ion-select-option value="Televisão">Televisão</ion-select-option>
                    <ion-select-option value="Outros">Outros</ion-select-option>
                </ion-select>

                <ion-label position="floating">Cor</ion-label>
                <ion-select formControlName="corEquipamento" cancelText="Cancelar" okText="Selecionar" value="">
                    <ion-select-option value="Preto">Preto</ion-select-option>
                    <ion-select-option value="Branco">Branco</ion-select-option>
                    <ion-select-option value="Cinza">Cinza</ion-select-option>
                    <ion-select-option value="Outro">Outro</ion-select-option>
                </ion-select>

                <ion-label position="floating">Imagem</ion-label>
                <ion-input formControlName="imagemEquipamento" type="file" accept="image/*"
                    (change)="validarImagemEquipamento($event)"></ion-input>

                <ion-button color="primary" expand="block" (click)="cadastrarEquipamento()">
                    <ion-icon name="create"></ion-icon> Cadastrar
                </ion-button>
            </form>
            <ion-label *ngIf="msgErro == true" color="danger">
                <br />
                <h2><strong>
                        <ion-icon name="alert"></ion-icon> Por favor, preencha todos os campos.
                    </strong></h2>
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <h4> Equipamentos cadastrados: </h4>
            <ion-list>
                <ion-grid>
                    <ion-item *ngFor="let item of listaEquipamentos">
                        <ion-row>
                            <ion-col size="12" size-sm->

                                <h2><strong>{{item.nome}}</strong></h2>
                                <h3>{{item.categoria}}</h3>
                                <h4>{{item.cor}} - {{item.marca}}</h4>
                                <h4>{{item.quantidade}} unidade(s)</h4>

                                <ion-button color="medium" (click)="atualizar(item)">
                                    <ion-icon name="create"></ion-icon>
                                    Alterar Quantidade
                                </ion-button>
                                <ion-button color="danger" (click)="excluir(item.id)">
                                    <ion-icon name="trash" slot="start"></ion-icon>
                                    Excluir Equipamento
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-grid>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>