.imagemEquipamento {
    width: 250px;
    height: 250px;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

.imagemEquipamento:hover {
    width: 320px;
    height: 320px;
    transition: 0.5s;
}

.itens {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .imagemEquipamento {
        width: 300px;
        height: 300px;
    }    
}