<ion-header>
    <ion-toolbar>
        <topo titulo="Empréstimos" icone="bookmarks"></topo>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <h4> Empréstimos registrados: </h4>
            <ion-list>
                <ion-grid>
                    <ion-item *ngFor="let emprestimo of listaEmprestimos">
                        <ion-row>
                            <ion-col size="12" size-sm->
                                <h2><strong>Código do item: {{emprestimo.idEquipamento}}</strong></h2>
                                <h3>Solicitante: {{emprestimo.solicitante}}</h3>
                                <h4>Data/Hora: {{emprestimo.dataHora}}</h4>
                                <h4> Emprestado(s) {{emprestimo.quantidade}} unidade(s) deste item. </h4>

                                <ion-button color="secondary"
                                    (click)="devolver(emprestimo.idEquipamento, emprestimo.id)">
                                    <ion-icon name="refresh" slot="start"></ion-icon>
                                    Devolver
                                </ion-button>
                                <ion-button color="danger" (click)="excluir(emprestimo.idEquipamento, emprestimo.id)">
                                    <ion-icon name="trash" slot="start"></ion-icon>
                                    Excluir
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-grid>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <h4> Clique na foto do equipamento para ver seus detalhes e prosseguir com o empréstimo. </h4>
            <ion-grid class="itens">
                <ion-row>
                    <ion-col size="12" size-sm *ngFor="let item of listaEquipamentos">
                        <ion-card *ngIf="item.disponiveis > 0">
                            <ion-img routerLink="/emprestimos/equipamento/{{item.id}}" [src]="item.imagem"
                                alt="equipamento" class="imagemEquipamento"></ion-img>
                            <ion-card-header>
                                <ion-card-title>
                                    {{item.nome}}
                                </ion-card-title>
                                <ion-card-subtitle>
                                    {{item.categoria}}
                                </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                <h2>Há <strong>{{item.disponiveis}}</strong> unidade(s) disponível(is). </h2>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>