<ion-header>
  <ion-toolbar>
      <topo titulo="EMPRESTA-IF" icone=""></topo>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p><strong>Bem-vindo! Selecione o que deseja fazer abaixo:</strong></p>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <ion-item routerLink="/equipamentos">
          <ion-icon name="laptop" slot="start"></ion-icon><p>EQUIPAMENTOS</p>
        </ion-item>
        <ion-item routerLink="/emprestimos">
          <ion-icon name="bookmarks" slot="start"></ion-icon><p>EMPRÉSTIMOS</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <h6>TEE 2019/02 | AT01 <br /> GU3000265 - Thiago Santos Menezes</h6>
  </ion-toolbar>
</ion-footer>
