<ion-header>
  <ion-toolbar>
    <ion-title>{{equipamento.categoria}} {{equipamento.nome}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label class="item"> 
        <h1>Detalhes do Equipamento</h1>
        <ion-card-content>
            <ion-img alt="Equipamento" [src]="equipamento.imagem"></ion-img>
            <h2>Disponíveis: <strong>{{equipamento.disponiveis}}</strong></h2>
            <h3>Cor: <strong>{{equipamento.cor}}</strong></h3>
            <h4>Marca: <strong>{{equipamento.marca}}</strong></h4>
        </ion-card-content>
        <ion-button (click)="emprestar(equipamento)" color="secondary">
            <ion-icon name="book"></ion-icon>
            <strong>Emprestar Equipamento</strong>
        </ion-button>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
